<html>
    <head>
        <title>HSY</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta name="viewport" content="user-scalable=no,width=device-width,initial-scale=1">
        <link rel="stylesheet" href="/css/css2.css">
        </head>

    <body>
        <div class="header">
            <span class="header-title">文章</span>
        </div>
        <div class="list">
            <ul class="list-group">
                <li class="li-title"><a href="">智能合约和形式验证</a></li>
                <li class="li-title"><a>如何掌握所有的程序语言</a></li>
                <li class="li-title">Kotlin 和 Checked Exception</li>
                <li class="li-title">1</li>
            </ul>
        </div>

    </body>
</html>
